{"swagger":"2.0","info":{"version":"v1","title":"MiX.Integrate.Api"},"host":"integrate.us.mixtelematics.com","schemes":["https"],"paths":{"/api/activeevents/group/{groupId}/latest/{quantity}":{"post":{"tags":["ActiveEvents"],"summary":"Gets the latest active events for an organisation, subgroup, or site","operationId":"ActiveEvents_GetLatestForGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"quantity","in":"path","description":"Number of active events to return - maximum 1","required":true,"type":"integer"},{"name":"eventTypeIds","in":"body","description":"Optional list of event type IDs by which to filter results","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"cachedSince","in":"query","description":"(Optional) UTC date and time in <b>yyyyMMddHHmmss</b> format: only include records <b>received since</b> this time","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"}}}},"/api/activeevents/assets/from/{from}/to/{to}":{"post":{"tags":["ActiveEvents"],"summary":"Get active events by date range (maximum 30 days) for assets","operationId":"ActiveEvents_GetRangeForAssets","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of asset IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"}}}},"/api/activeevents/assets/createdsince/sincetoken/{sinceToken}/quantity/{quantity}":{"post":{"tags":["ActiveEvents"],"summary":"Gets up to 1000 active events created for assets since the specified token time","operationId":"ActiveEvents_GetCreatedSinceForAssetsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of active events (up to 1000) to retrieve for each entity. Response may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}}}}},"/api/activeevents/drivers/createdsince/sincetoken/{sinceToken}/quantity/{quantity}":{"post":{"tags":["ActiveEvents"],"summary":"Gets up to 1000 active events created for drivers since the specified token time","operationId":"ActiveEvents_GetCreatedSinceForDriversAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"driverIds","in":"body","description":"Identifiers of the drivers to query. All drivers must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of active events (up to 1000) to retrieve for each entity. Response may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}}}}},"/api/activeevents/groups/createdsince/entitytype/{entityType}/sincetoken/{sinceToken}/quantity/{quantity}":{"post":{"tags":["ActiveEvents"],"summary":"Gets up to 1000 active events created for an organisation, subgroups or sites since the specified token time","operationId":"ActiveEvents_GetCreatedSinceForGroupsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupIds","in":"body","description":"The IDs of the organisation, subgroup(s) or site(s)","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"entityType","in":"path","description":"Type of entity, either <b>Asset</b> or <b></b>Driver","required":true,"type":"string"},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of active events (up to 1000) to retrieve for each entity. Response may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}}}}},"/api/activeevents/groups/createdsince/organisation/{organisationId}/sincetoken/{sinceToken}/quantity/{quantity}":{"get":{"tags":["ActiveEvents"],"summary":"Gets up to 1000 active events created for an organisation since the specified token time","operationId":"ActiveEvents_GetCreatedSinceForOrganisationAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve for each entity. Response may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}}}},"post":{"tags":["ActiveEvents"],"summary":"Gets up to 1000 active events of the specified type(s) created for an organisation since the specified token time","operationId":"ActiveEvents_GetCreatedSinceFilteredForOrganisation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve for each entity. Response may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"eventTypeIds","in":"body","description":"The IDs of the event types by which to filter results","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/ActiveEvent"}}}}}},"/api/aemp/{organisationId}/{pageNum}":{"get":{"tags":["Aemp"],"summary":"Gets a page of AEMP fleet snapshot data for the specified organisation. Each page contains up to 100 records","operationId":"Aemp_GetFleetSnapshotPaged","consumes":[],"produces":["application/json","application/xml"],"parameters":[{"name":"organisationId","in":"path","description":"Identifier of the organisation to query","required":true,"type":"integer","format":"int64"},{"name":"pageNum","in":"path","description":"Number of the page to retrieve. Page numbers start at 1","required":true,"type":"integer"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FleetSnapshot"}},"204":{"description":"No Content"}}}},"/api/assets/group/{groupId}":{"get":{"tags":["Assets"],"summary":"List of assets in organisation, subgroup or site","operationId":"Assets_GetAllAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"filterType","in":"query","description":"Either registration or description","required":false,"type":"string"},{"name":"wildCard","in":"query","description":"Required if filterType is set","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Asset"}}},"204":{"description":"No Content"}}}},"/api/assets/{assetId}":{"get":{"tags":["Assets"],"summary":"Asset details","operationId":"Assets_GetAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Asset"}},"204":{"description":"No Content"}}}},"/api/assets/group/{groupId}/asset/{assetId}":{"get":{"tags":["Assets"],"summary":"Asset details by organisation, subgroup or site","operationId":"Assets_GetByGroupAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Asset"}},"204":{"description":"No Content"}}}},"/api/assets":{"put":{"tags":["Assets"],"summary":"Update asset","operationId":"Assets_UpdateAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"asset","in":"body","description":"The asset to be updated","required":true,"schema":{"$ref":"#/definitions/Asset"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"204":{"description":"No Content"}}},"post":{"tags":["Assets"],"summary":"Add asset","operationId":"Assets_AddAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"asset","in":"body","description":"The new asset to be added","required":true,"schema":{"$ref":"#/definitions/Asset"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"201":{"description":"Created","schema":{"title":"IHttpActionResult","type":"object"}},"204":{"description":"No Content"}}}},"/api/assets/group/{groupId}/state":{"post":{"tags":["Assets"],"summary":"Add asset state","operationId":"Assets_AddAssetStateAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetState","in":"body","description":"The asset state to be added","required":true,"schema":{"$ref":"#/definitions/AssetState"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"204":{"description":"No Content"}}}},"/api/assets/diagnostics/group/{groupId}":{"post":{"tags":["Assets"],"summary":"Get diagnostics information of assets","operationId":"Assets_GetAssetDiagnostics","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/AssetDiagnostics"}}},"204":{"description":"No Content"}}}},"/api/assets/organisation/{organisationId}/trailers":{"get":{"tags":["Assets"],"summary":"Gets details of trailers in an organisation","operationId":"Assets_GetTrailers","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/Trailer"}}},"204":{"description":"No Content"}}}},"/api/assets/group/{groupId}/additionaldetails":{"get":{"tags":["Assets"],"summary":"Gets the additional asset detail data of assets in an organisation, subgroup, or site","operationId":"Assets_GetAdditionaDetailsByGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/AdditionalDetails"}}},"204":{"description":"No Content"}}}},"/api/assets/assettypes":{"get":{"tags":["Assets"],"summary":"Gets the list of predefined asset types","operationId":"Assets_GetAssetTypes","consumes":[],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/AssetType"}}}}}},"/api/assets/manufacturers":{"get":{"tags":["Assets"],"summary":"Gets the list of vehicle makes / manufacturers recognised by the Fleet Manager system","operationId":"Assets_GetManufacturers","consumes":[],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"title":"String","required":["Chars","Length"],"type":"string"}}}}}},"/api/assets/servicehistory/{from}/to/{to}":{"post":{"tags":["Assets"],"summary":"Gets asset services in the specified date range (max 60 days) for the specified assets","operationId":"Assets_GetServiceHistory","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"from","in":"path","description":"Date range start in the format yyyyMMdd","required":true,"type":"string"},{"name":"to","in":"path","description":"Date range end in the format yyyyMMdd","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/AssetService"}}},"204":{"description":"No Content"}}}},"/api/assets/servicehistory/group/{groupId}/{from}/to/{to}":{"get":{"tags":["Assets"],"summary":"Gets asset services in the specified date range (max 60 days) for assets in the specified organisation, organisation subgroup, or site","operationId":"Assets_GetServiceHistoryByGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"Identifiers of the organisation, organisation subgroup, or site to query","required":true,"type":"integer","format":"int64"},{"name":"from","in":"path","description":"Date range start in the format yyyyMMdd","required":true,"type":"string"},{"name":"to","in":"path","description":"Date range end in the format yyyyMMdd","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/AssetService"}}},"204":{"description":"No Content"}}}},"/api/customers/{organisationId}/{customerId}":{"get":{"tags":["Customers"],"summary":"Gets the customers of the specified organisation","operationId":"Customers_GetCustomers","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The organisation identifier","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/Customer"}}}}}},"/api/customers/{organisationId}/{customerId}/deliverypoints/{deliveryPointId}":{"get":{"tags":["Customers"],"summary":"Gets the delivery points for a customer","operationId":"Customers_GetDeliveryPoints","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The organisation identifier","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","description":"The customer identifier","required":true,"type":"integer","format":"int64"},{"name":"deliveryPointId","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/DeliveryPoint"}}}}}},"/api/customgroups/organisation/{organisationId}":{"get":{"tags":["CustomGroups"],"summary":"Gets a list of the custom groups in an organisation","operationId":"CustomGroups_GetAll","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Gets a list of the custom groups in an organisation","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/CustomGroup"}}},"204":{"description":"No Content"}}},"put":{"tags":["CustomGroups"],"summary":"Updates a custom group","operationId":"CustomGroups_UpdateCustomGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"customGroup","in":"body","description":"The updated details of the custom group.\r\n            The IsDriverGroup property of a custom group cannot be changed","required":true,"schema":{"$ref":"#/definitions/CustomGroup"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["CustomGroups"],"summary":"Adds a custom group","operationId":"CustomGroups_AddCustomGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"customGroup","in":"body","description":"The custom group to be added","required":true,"schema":{"$ref":"#/definitions/CustomGroup"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"201":{"description":"Created","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/customgroups/organisation/{organisationId}/asset/{assetId}":{"get":{"tags":["CustomGroups"],"summary":"Gets a list of custom groups for an asset","operationId":"CustomGroups_GetListForAsset","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Gets a list of custom groups for an asset","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/CustomGroup"}}},"204":{"description":"No Content"}}}},"/api/customgroups/organisation/{organisationId}/driver/{driverId}":{"get":{"tags":["CustomGroups"],"summary":"Gets a list of custom groups for a driver","operationId":"CustomGroups_GetListForDriver","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Gets a list of custom groups for a driver","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/CustomGroup"}}},"204":{"description":"No Content"}}}},"/api/customgroups/organisation/{organisationId}/customgroup/{customGroupId}":{"get":{"tags":["CustomGroups"],"summary":"Gets the details of a custom group","operationId":"CustomGroups_GetById","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"customGroupId","in":"path","description":"The ID of the custom group","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/CustomGroupDetails"}},"204":{"description":"No Content"}}},"delete":{"tags":["CustomGroups"],"summary":"Deletes a custom group","operationId":"CustomGroups_DeleteCustomGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"customGroupId","in":"path","description":"The ID of the custom group","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/customgroups/organisation/{organisationId}/customgroup/{customGroupId}/members/entitytype/{entityType}":{"put":{"tags":["CustomGroups"],"summary":"Adds members to a custom group","operationId":"CustomGroups_AddMembers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"customGroupId","in":"path","description":"The ID of the custom group","required":true,"type":"integer","format":"int64"},{"name":"entityType","in":"path","description":"Type of entity, either Asset or Driver","required":true,"type":"string"},{"name":"entityIds","in":"body","description":"Identifiers of the entities to be added to the custom group","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}},"delete":{"tags":["CustomGroups"],"summary":"Removes members from a custom group","operationId":"CustomGroups_RemoveMembers","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"customGroupId","in":"path","description":"The ID of the custom group","required":true,"type":"integer","format":"int64"},{"name":"entityType","in":"path","description":"Type of entity, either Asset or Driver","required":true,"type":"string"},{"name":"entityIds","in":"body","description":"The ID(s) of the entity type specified","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendpositionrequestmessage":{"get":{"tags":["DeviceCommands"],"summary":"Send position request message","operationId":"DeviceCommands_SendPositionRequestMessage","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendrelaycommand/relayDrive/{relayDrive}/relayState/{relayState}":{"get":{"tags":["DeviceCommands"],"summary":"Send relay command","operationId":"DeviceCommands_SendRelayCommand","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"relayDrive","in":"path","description":"Relay drive","required":true,"type":"integer"},{"name":"relayState","in":"path","description":"Relay state","required":true,"type":"integer"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendtrackingrequest/intervalSeconds/{intervalSeconds}/durationSeconds/{durationSeconds}":{"get":{"tags":["DeviceCommands"],"summary":"Send tracking request","operationId":"DeviceCommands_SendTrackingRequest","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"intervalSeconds","in":"path","description":"Interval seconds","required":true,"type":"integer"},{"name":"durationSeconds","in":"path","description":"Duration seconds","required":true,"type":"integer"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendstoptrackingrequest":{"get":{"tags":["DeviceCommands"],"summary":"Send stop tracking request","operationId":"DeviceCommands_SendStopTrackingRequest","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendprogressiveshutdowncommand/relayDrive/{relayDrive}":{"get":{"tags":["DeviceCommands"],"summary":"Send progressive shutdown command","operationId":"DeviceCommands_SendProgressiveShutdownCommand","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"relayDrive","in":"path","description":"Relay drive","required":true,"type":"integer"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/senddisarmunitmessage":{"get":{"tags":["DeviceCommands"],"summary":"Send disarm unit message","operationId":"DeviceCommands_SendDisarmUnitMessage","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendfreetextmessage":{"post":{"tags":["DeviceCommands"],"summary":"Send free text message","operationId":"DeviceCommands_SendFreeTextMessage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"message","in":"body","description":"The text message to be sent","required":true,"schema":{"title":"String","required":["Chars","Length"],"type":"string"}},{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/devicecommands/group/{groupId}/asset/{assetId}/sendsetacronymcommand/params/{param1}/{param2}/{param3}":{"get":{"tags":["DeviceCommands"],"summary":"Send command to acronym","operationId":"DeviceCommands_SendSetAcronymCommand","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetId","in":"path","description":"The ID of the asset","required":true,"type":"integer","format":"int64"},{"name":"param1","in":"path","description":"Parameter 1","required":true,"type":"integer"},{"name":"param2","in":"path","description":"Parameter 2","required":true,"type":"integer"},{"name":"param3","in":"path","description":"Parameter 3","required":true,"type":"integer"},{"name":"preferredTransport","in":"query","description":"<b>None: 0</b>\r\n<b>\r\n  <br>GSMDataCall: 1</br>\r\n</b>\r\n<b>GSMSMS: 2</b>\r\n<b>\r\n  <br>GPRS: 3</br>\r\n</b>\r\n<b>WLAN: 9</b>\r\n<b>\r\n  <br>SatComms: 10</br>\r\n</b>","required":false,"type":"string","enum":["Default","None","GSMDataCall","GSMSMS","GPRS","SMSGateway","WLAN","SatComms","RoviService"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"format":"int64","title":"Int64","type":"integer"}}}}},"/api/deviceconfiguration/group/{groupId}/assets/connectedperipherals":{"post":{"tags":["DeviceConfiguration"],"summary":"Get connected peripherals for assets in an organisation, subgroup or site","operationId":"DeviceConfiguration_GetConnectedPeripheralsForAssets","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/ConnectedPeripheral"}}}}}},"/api/deviceconfiguration/group/{groupId}/assets/camerasettings":{"post":{"tags":["DeviceConfiguration"],"summary":"Get camera settings for assets in an organisation, subgroup or site","operationId":"DeviceConfiguration_GetVideoSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/MobileUnitCameraSettings"}}}}}},"/api/deviceconfiguration/group/{groupId}/assets/configurationstate":{"post":{"tags":["DeviceConfiguration"],"summary":"Get configuration state for assets in an organisation, subgroup or site","operationId":"DeviceConfiguration_GetConfigurationState","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/MobileUnitConfigurationState"}}}}}},"/api/deviceconfiguration/group/{groupId}/assets/communicationsettings":{"post":{"tags":["DeviceConfiguration"],"summary":"Get communication settings for assets in an organisation, subgroup or site","operationId":"DeviceConfiguration_GetCommunicationSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/MobileUnitCommunicationSettings"}}}}}},"/api/deviceconfiguration/assets":{"post":{"tags":["DeviceConfiguration"],"summary":"Get device configuration for assets","operationId":"DeviceConfiguration_GetMobileUnitDeviceConfigurationsByAssetIds","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/MobileUnitDeviceConfiguration"}}}}}},"/api/deviceconfiguration/organisation/{groupId}":{"get":{"tags":["DeviceConfiguration"],"summary":"Get device configuration for an organisation, subgroup or site","operationId":"DeviceConfiguration_GetMobileUnitDeviceConfigurationsByGroupId","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/MobileUnitDeviceConfiguration"}}}}}},"/api/deviceconfiguration/group/{groupId}/assets/mobiledevicetypes":{"get":{"tags":["DeviceConfiguration"],"summary":"Gets mobile device and configuration group information for assets in a group","operationId":"DeviceConfiguration_GetMobileDeviceTypesForGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/MobileUnitMobileDeviceInfo"}}}}}},"/api/drivercertification/group/{groupId}":{"get":{"tags":["DriverCertification"],"summary":"Gets driver certifications for all drivers in the specified group and its descendents","operationId":"DriverCertification_GetDriverCertificationsForGroupAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Dictionary`2","required":["Comparer","Count","Keys","Values","Item"],"type":"object","additionalProperties":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/DriverCertification"}}}},"204":{"description":"No Content"}}}},"/api/drivercertification/organisation/{organisationId}/driver/{driverId}/certificationtypeid/{certificationTypeId}":{"get":{"tags":["DriverCertification"],"summary":"Get driver certification by ID","operationId":"DriverCertification_GetDriverCertificationIdAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"certificationTypeId","in":"path","description":"The ID of the certification type","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DriverCertification"}},"204":{"description":"No Content"}}},"delete":{"tags":["DriverCertification"],"summary":"Delete driver certification","operationId":"DriverCertification_DeleteDriverCertificationAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"certificationTypeId","in":"path","description":"The ID of the certification type to be deleted","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/drivercertification/organisation/{organisationId}/driver/{driverId}":{"get":{"tags":["DriverCertification"],"summary":"List of driver certifications for driver","operationId":"DriverCertification_GetDriverCertificationsForDriverAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/DriverCertification"}}},"204":{"description":"No Content"}}}},"/api/drivercertification/organisation/{organisationId}/driver/{driverId}/certificationcategories":{"get":{"tags":["DriverCertification"],"summary":"List of certification types for driver","operationId":"DriverCertification_GetDriverCertificationTypesAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/CertificationType"}}},"204":{"description":"No Content"}}}},"/api/drivercertification/organisation/{organisationId}/certificationcategories":{"get":{"tags":["DriverCertification"],"summary":"List of driver certification types for the specified organisation","operationId":"DriverCertification_GetDriverCertificationTypesForOrganisationAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/CertificationType"}}},"204":{"description":"No Content"}}}},"/api/drivercertification/organisation/{organisationId}":{"put":{"tags":["DriverCertification"],"summary":"Update driver certification","operationId":"DriverCertification_UpdateDriverCertificationAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverCertification","in":"body","description":"The driver certification to be updated","required":true,"schema":{"$ref":"#/definitions/DriverCertification"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["DriverCertification"],"summary":"Add driver certification","operationId":"DriverCertification_AddDriverCertificationAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverCertification","in":"body","description":"The driver certification to be added","required":true,"schema":{"$ref":"#/definitions/DriverCertification"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/driverlicence/group/{groupId}":{"get":{"tags":["DriverLicence"],"summary":"Gets driver licences for all drivers in the specified organisation, subgroup or site","operationId":"DriverLicence_GetDriverLicencesForGroupAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Dictionary`2","required":["Comparer","Count","Keys","Values","Item"],"type":"object","additionalProperties":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/DriverLicence"}}}},"204":{"description":"No Content"}}}},"/api/driverlicence/organisation/{organisationId}/driver/{driverId}":{"get":{"tags":["DriverLicence"],"summary":"List of driver licences for the specified driver ID","operationId":"DriverLicence_GetDriverLicencesByDriverIdAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/DriverLicence"}}},"204":{"description":"No Content"}}}},"/api/driverlicence/organisation/{organisationId}/driver/{driverId}/licencecategory/{licenceCategoryId}":{"get":{"tags":["DriverLicence"],"summary":"Gets the licence with the specified licence category for the specified driver","operationId":"DriverLicence_GetDriverLicenceByIdAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"licenceCategoryId","in":"path","description":"The ID of the licence category","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DriverLicence"}},"204":{"description":"No Content"}}},"delete":{"tags":["DriverLicence"],"summary":"Delete driver licence","operationId":"DriverLicence_DeleteDriverLicenceAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"licenceCategoryId","in":"path","description":"The ID of the licence category to be deleted","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/driverlicence/organisation/{organisationId}/driver/{driverId}/licencecategories":{"get":{"tags":["DriverLicence"],"summary":"List of licence categories for the specified driver ID","operationId":"DriverLicence_GetDriverLicenceCategoriesAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/LicenceCategory"}}},"204":{"description":"No Content"}}}},"/api/driverlicence/organisation/{organisationId}/licencecategories":{"get":{"tags":["DriverLicence"],"summary":"Gets the driver licence categories for the specified organisation","operationId":"DriverLicence_GetDriverLicenceCategoriesForOrganisationAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/LicenceCategory"}}},"204":{"description":"No Content"}}}},"/api/driverlicence/organisation/{organisationId}":{"put":{"tags":["DriverLicence"],"summary":"Update driver licence","operationId":"DriverLicence_UpdateDriverLicenceAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverLicence","in":"body","description":"The driver licence to be updated","required":true,"schema":{"$ref":"#/definitions/DriverLicence"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["DriverLicence"],"summary":"Add driver licence","operationId":"DriverLicence_AddDriverLicenceAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"driverLicence","in":"body","description":"The driver licence to be added","required":true,"schema":{"$ref":"#/definitions/DriverLicence"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/drivers/group/{groupId}/driver/{driverId}":{"get":{"tags":["Drivers"],"summary":"Driver details by organisation, subgroup or site","operationId":"Drivers_GetDriverByIdAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"driverId","in":"path","description":"The ID of the driver","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Driver"}},"204":{"description":"No Content"}}}},"/api/drivers/organisation/{organisationId}":{"get":{"tags":["Drivers"],"summary":"Get all drivers for an organisation","operationId":"Drivers_GetAllDrivers","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"filterType","in":"query","description":"<b>name, fmdriverid or employeenumber</b>","required":false,"type":"string"},{"name":"wildCard","in":"query","description":"<b>If filterType = fmdriverid the wildCard must be a short (FmDriverId)</b>","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Driver"}}}}}},"/api/drivers/group/{groupId}":{"get":{"tags":["Drivers"],"summary":"Get all drivers for a subgroup or site","operationId":"Drivers_GetGroupDrivers","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"filterType","in":"query","description":"<b>name, fmdriverid or employeenumber</b>","required":false,"type":"string"},{"name":"wildCard","in":"query","description":"<b>If filterType = fmdriverid the wildCard must be a short (FmDriverId)</b>","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Driver"}}}}}},"/api/drivers":{"put":{"tags":["Drivers"],"summary":"Updates properties of an existing driver","operationId":"Drivers_UpdateDriverAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"driver","in":"body","description":"The driver record to update\r\n            <br /><br />Supports changes to:<br />SiteId<br />Name<br />EmployeeNumber\r\n            <br />MobileNumber<br />Email<br />Country<br />ImageUri","required":true,"schema":{"$ref":"#/definitions/Driver"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}},"post":{"tags":["Drivers"],"summary":"Add a driver","operationId":"Drivers_AddDriverAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"driver","in":"body","description":"Details of the driver to be added<br /><br />SiteId and Name are <ul>required</ul><br /><br />EmployeeNumber, MobileNumber, Email, Country, ImageUri are optional\r\n            <br /><br /><para>Other properties are ignored</para>","required":true,"schema":{"$ref":"#/definitions/Driver"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"201":{"description":"Created","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/drivers/extentedid":{"put":{"tags":["Drivers"],"summary":"Update a driver's  extended id","operationId":"Drivers_UpdateDriverExtendedIdAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"driver","in":"body","description":"Extended ID details","required":true,"schema":{"$ref":"#/definitions/ExtendedDriverIdUpdate"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/dtc/faultedassets/{groupId}":{"get":{"tags":["Dtc"],"summary":"Get a list of assets with open faults in the specified group","operationId":"Dtc_GetFaultedAssetsByGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The identifier of the organisation, orgnisation subgroup, or site to query","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/FaultedAsset"}}},"204":{"description":"No Content"}}}},"/api/dtc/faults/assets":{"post":{"tags":["Dtc"],"summary":"Gets faults for the specified assets","operationId":"Dtc_GetFaultsForAssets","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assetIds","in":"body","description":"Identifiers of the assets to query.  All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"includeClosed","in":"query","description":"Include closed (resolved) faults in the output","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/AssetFaults"}}}}}},"/api/dtc/messages/{assetId}/{from}/{to}":{"get":{"tags":["Dtc"],"summary":"Gets DTC fault messages for the specified asset in the specified date range (max 7 days)","operationId":"Dtc_GetFaultsForAsset","consumes":[],"produces":["application/json"],"parameters":[{"name":"assetId","in":"path","description":"Identifier of the asset to query","required":true,"type":"integer","format":"int64"},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/FaultMessage"}}}}}},"/api/events/assets/latest/{quantity}":{"post":{"tags":["Events"],"summary":"Gets the latest events for the specified assets","operationId":"Events_GetLatestForAssetsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of asset IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"quantity","in":"path","description":"Number of events (maximum of 100) to be returned for each asset. Must be 1 if for multiple asset IDs","required":true,"type":"integer"},{"name":"cachedSince","in":"query","description":"(Optional) UTC date and time in <b>yyyyMMddHHmmss</b> format: only include records <b>received since</b> this time","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/drivers/latest/{quantity}":{"post":{"tags":["Events"],"summary":"Gets the latest events for the specified drivers","operationId":"Events_GetLatestForDriversAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of driver IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"quantity","in":"path","description":"Number of events (maximum of 100) to be returned for each driver. Must be 1 if for multiple driver IDs","required":true,"type":"integer"},{"name":"cachedSince","in":"query","description":"(Optional) UTC date and time in <b>yyyyMMddHHmmss</b> format: only include records <b>received since</b> this time","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/groups/latest/entitytype/{entityType}/{quantity}":{"post":{"tags":["Events"],"summary":"Gets the latest events for each entity in a list of specified groups","operationId":"Events_GetLatestForGroupsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of group IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"entityType","in":"path","description":"Type of entity, either 'Asset' or 'Driver'","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (maximum of 1) to be returned for each entity in the specified group(s)","required":true,"type":"integer"},{"name":"cachedSince","in":"query","description":"(Optional) UTC date and time in <b>yyyyMMddHHmmss</b> format: only include records <b>received since</b> this time","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/assets/from/{from}/to/{to}":{"post":{"tags":["Events"],"summary":"Get events by range (maximum 7 days) for each asset in a list","operationId":"Events_GetRangeForAssetsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of asset IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/drivers/from/{from}/to/{to}":{"post":{"tags":["Events"],"summary":"Get events by range (maximum 7 days) for each driver in a list","operationId":"Events_GetRangeForDriversAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of driver IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/groups/entitytype/{entityType}/from/{from}/to/{to}":{"post":{"tags":["Events"],"summary":"Get events by range (maximum 7 days) for each entity in a list of groups","operationId":"Events_GetRangeForGroupsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of group IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"entityType","in":"path","description":"Type of entity, either 'Asset' or 'Driver'","required":true,"type":"string"},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/assets/since/{since}/quantity/{quantity}":{"post":{"tags":["Events"],"summary":"Get events (maximum of 100) since date (maximum 7 days) for each asset in a list","operationId":"Events_GetSinceForAssetsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of asset IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"since","in":"path","description":"Use format yyyyMMddhhmmss (maximum 7 days in history)","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (maximum of 100) to be returned for each asset","required":true,"type":"integer"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/drivers/since/{since}/quantity/{quantity}":{"post":{"tags":["Events"],"summary":"Get events (maximum of 100) since date (maximum 7 days) for each driver in a list","operationId":"Events_GetSinceForDriversAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of driver IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"since","in":"path","description":"Use format yyyyMMddhhmmss (maximum 7 days in history)","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (maximum of 100) to be returned for each driver","required":true,"type":"integer"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/groups/since/entitytype/{entityType}/{since}":{"post":{"tags":["Events"],"summary":"Get events (max of 100) since date (max 7 days) for each entity in a list of groups","operationId":"Events_GetSinceForGroupsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"eventFilter","in":"body","description":"EventFilter object where EntityIds (required) is the list of group IDs and EventTypeIDs (optional) is a list of event type IDs to filter on","required":true,"schema":{"$ref":"#/definitions/EventFilter"}},{"name":"entityType","in":"path","description":"Type of entity, either 'Asset' or 'Driver'","required":true,"type":"string"},{"name":"since","in":"path","description":"Use format yyyyMMddhhmmss (maximum 7 days in history)","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"}}}},"/api/events/assets/createdsince/sincetoken/{sinceToken}/quantity/{quantity}":{"post":{"tags":["Events"],"summary":"Gets up to 1000 events created for each specified asset since the specified token time","operationId":"Events_GetCreatedSinceForAssetsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assetIds","in":"body","description":"Identifiers of the assets to query. All assets must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve for each entity.\r\n            \tResponse may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}}}}},"/api/events/drivers/createdsince/sincetoken/{sinceToken}/quantity/{quantity}":{"post":{"tags":["Events"],"summary":"Gets up to 1000 events created for each specified driver since the specified token time","operationId":"Events_GetCreatedSinceForDriversAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"driverIds","in":"body","description":"Identifiers of the drivers to query. All drivers must belong to the same organisation","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve for each driver.\r\n            \tResponse may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}}}}},"/api/events/groups/createdsince/entitytype/{entityType}/sincetoken/{sinceToken}/quantity/{quantity}":{"post":{"tags":["Events"],"summary":"Gets up to 1000 events created for each entity in a specified list of groups since the specified token time","operationId":"Events_GetCreatedSinceForGroupsAsync","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"groupIds","in":"body","description":"The IDs of the organisation, subgroup(s) or site(s)","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"entityType","in":"path","description":"Type of entity, either 'Asset' or 'Driver'","required":true,"type":"string"},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve for each entity.\r\n            \tResponse may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}}}}},"/api/events/groups/createdsince/organisation/{organisationId}/sincetoken/{sinceToken}/quantity/{quantity}":{"get":{"tags":["Events"],"summary":"Gets up to 1000 events created for an organisation since the specified token time","operationId":"Events_GetCreatedSinceForOrganisationAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve.\r\n            \tResponse may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}}}},"post":{"tags":["Events"],"summary":"Gets up to 1000 events of the specified type(s) created for an organisation since the specified token time","operationId":"Events_GetCreatedSinceFilteredForOrganisation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            If no token is available, use the NEW keyword to default to the current time.\r\n            Use the returned GetSinceToken header for the next request. \r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"quantity","in":"path","description":"Number of events (up to 1000) to retrieve for each entity.\r\n            \tResponse may include more items than requested due to server-side quantisation constraints","required":true,"type":"integer","format":"int32"},{"name":"eventTypeIds","in":"body","description":"EventTypeIds to include","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"format":"int64","title":"Int64","type":"integer"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/Event"}}}}}},"/api/events/organisation/{organisationId}/urls":{"post":{"tags":["Events"],"summary":"Gets the media URLs for a set of media references","operationId":"Events_GetMedialUrls","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"Identifier of the organisation associated with the media references","required":true,"type":"integer","format":"int64"},{"name":"references","in":"body","description":"List of references to resolve (max 100 entries), each of which lists the MediaReference and associated Asset Id","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/AssetMediaReference"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/MediaQueryResponse"}}}}}},"/api/events/groups/amended/{organisationId}/from/{from}/to/{to}":{"get":{"tags":["Events"],"summary":"Gets DEMT amendments made to events for an organisation in a specified date range not exceeding 7 days","operationId":"Events_GetEventAmendmentsInDateRange","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"Identifies the organisation to query","required":true,"type":"integer","format":"int64"},{"name":"from","in":"path","description":"Start date of the date range in format YYYYMMDD","required":true,"type":"string"},{"name":"to","in":"path","description":"End date of the date range in format YYYYMMDD","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/EventAmendment"}}},"204":{"description":"No Content"}}}},"/api/fueltransactions/organisation/{organisationId}/from/{from}/to/{to}":{"get":{"tags":["Fuel"],"summary":"Get fuel transactions by date range for organisation","operationId":"Fuel_GetFuelByDateRangeForGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/FuelTransaction"}}},"204":{"description":"No Content"}}}},"/api/fueltransactions/organisation/{organisationId}":{"put":{"tags":["Fuel"],"summary":"Add fuel transactions for organisation","operationId":"Fuel_AddFuelTransactions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"transactions","in":"body","description":"The fuel transations to be added","required":true,"schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/FuelTransaction"}}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/FuelInsertCarrier"}}}}}},"/api/geodata/assetmovements/{groupId}/{from}/{to}":{"get":{"tags":["GeoData"],"summary":"Get a file of geospatial data representing the movements of all assets in a specified group during a given period (max 24 hours)","operationId":"GeoData_GetAssetMovementsForGroup","consumes":[],"produces":["application/json","application/octet-stream"],"parameters":[{"name":"groupId","in":"path","description":"Identifier of the group","required":true,"type":"integer","format":"int64"},{"name":"from","in":"path","description":"Start of date/time range, in the form yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"End of date/time range, in the form yyyyMMddhhmmss","required":true,"type":"string"},{"name":"format","in":"query","description":"Format of data, defaults to GeoJson","required":false,"type":"string","enum":["GeoJson","Kml","Wkt"]},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"file"}},"204":{"description":"No Content"}}}},"/api/organisationgroups":{"get":{"tags":["Groups"],"summary":"Gets available organisation groups","operationId":"Groups_GetAvailableOrgGroups","consumes":[],"produces":["application/json"],"parameters":[{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","required":["Capacity","Count","Item"],"type":"array","items":{"$ref":"#/definitions/Group"}}},"204":{"description":"No Content"}}}},"/api/organisationgroups/subgroups/{groupId}":{"get":{"tags":["Groups"],"summary":"Get group with sub groups","operationId":"Groups_GetSubGroupsAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation or subgroup","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GroupSummary"}},"204":{"description":"No Content"}}}},"/api/organisationgroups/{parentGroupId}/site":{"post":{"tags":["Groups"],"summary":"Add site to organisation or organisation subgroup","operationId":"Groups_AddSite","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"parentGroupId","in":"path","description":"The ID of the organisation or organisation subgroup to which the site should be added","required":true,"type":"integer","format":"int64"},{"name":"name","in":"body","description":"The name of the site to be added","required":true,"schema":{"title":"String","required":["Chars","Length"],"type":"string"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"201":{"description":"Created","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/organisationgroups/{parentGroupId}/organisationsubgroup":{"post":{"tags":["Groups"],"summary":"Add a sub group to organisation or organisation subgroup","operationId":"Groups_AddOrganisationSubGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"parentGroupId","in":"path","description":"The ID of the organisation or organisation subgroup to which the site should be added","required":true,"type":"integer","format":"int64"},{"name":"name","in":"body","description":"The name of the site to be added","required":true,"schema":{"title":"String","required":["Chars","Length"],"type":"string"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}},"201":{"description":"Created","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/organisationgroups/{organisationId}/group/{groupId}/name":{"put":{"tags":["Groups"],"summary":"Update the group name that belongs to an organisation","operationId":"Groups_UpdateGroupName","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation to which group being updated belongs","required":true,"type":"integer","format":"int64"},{"name":"groupId","in":"path","description":"The ID of the group to update","required":true,"type":"integer","format":"int64"},{"name":"name","in":"body","description":"The new name of the specified group","required":true,"schema":{"title":"String","required":["Chars","Length"],"type":"string"}},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/organisationgroups/site/{groupId}":{"delete":{"tags":["Groups"],"summary":"Delete a site","operationId":"Groups_DeleteSite","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the site to delete","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/organisationgroups/organisationsubgroup/{groupId}":{"delete":{"tags":["Groups"],"summary":"Delete an organisation subgroup","operationId":"Groups_DeleteOrganisationSubGroup","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation subgroup to delete","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"IHttpActionResult","type":"object"}}}}},"/api/organisationgroups/details/{organisationId}":{"get":{"tags":["Groups"],"summary":"Get organisation detail","operationId":"Groups_GetOrganisationDetail","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/OrganisationDetail"}}}}},"/api/organisationgroups/group/{groupId}":{"get":{"tags":["Groups"],"summary":"Get group","operationId":"Groups_GetGroupAsync","consumes":[],"produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The ID of the organisation, subgroup or site","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Group"}},"204":{"description":"No Content"}}}},"/api/organisationgroups/siteswithlegacyid/{organisationId}":{"get":{"tags":["Groups"],"summary":"Get site ids with FM id belonging to the organisation","operationId":"Groups_GetOrganisationSitesWithLegacyId","consumes":[],"produces":["application/json"],"parameters":[{"name":"organisationId","in":"path","description":"The ID of the organisation","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Dictionary`2","required":["Comparer","Count","Keys","Values"],"type":"object","additionalProperties":{"format":"int32","title":"Nullable`1","type":"integer"}}},"204":{"description":"No Content"}}}},"/api/ghos/events/from/{from}/to/{to}":{"post":{"tags":["HosData"],"summary":"Get HOS Event Data","operationId":"HosData_GetHosEventData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","description":"Consists of ParameterEntityType (Organisation = 0, Driver = 1)\r\n            List of EntityIds\r\n            List of EventTypeIds","required":true,"schema":{"$ref":"#/definitions/HosEventDataRequest"}},{"name":"from","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"to","in":"path","description":"Use format yyyyMMddhhmmss","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/HosEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/HosEvent"}}}}}},"/api/ghos/events/since/{sinceToken}":{"post":{"tags":["HosData"],"summary":"Get HOS Event Data Since Token","operationId":"HosData_GetHosEventDataSince","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","description":"Consists of ParameterEntityType (Organisation = 0, Driver = 1)\r\n            List of EntityIds\r\n            List of EventTypeIds","required":true,"schema":{"$ref":"#/definitions/HosEventDataRequest"}},{"name":"sinceToken","in":"path","description":"SinceToken format yyyyMMddHHmmssfff, and must not be older than 7 days.\r\n            Use the returned GetSinceToken header for the next request.\r\n            A blank token is not allowed and will result in a 404 - Not Found response","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer {bearerToken}","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/HosEvent"}}},"204":{"description":"No Content"},"206":{"description":"Partial Content - more data is available","schema":{"title":"Array","type":"array","items":{"$ref":"#/definitions/HosEvent"}}}}}},"/api/ghos/events/from/{from}/to/{to}/summary":{"post":{"tags":["HosData"],"summary":"Get HOS Event Data Summary","operationId":"HosData_GetHosEventDataSummary","consumes":["application/json"]
[...]
